<!--
    Jarod Bose
    1/19/2019
    Assignment 1 Dating site
    Main html page showing the dating site
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <link rel="stylesheet" type="text/css"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/styles.css">
    <link rel="stylesheet"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/css/bootstrap.min.css">
    <title>Date Site Homepage</title>
</head>
<body>
    <nav class="nav-pills navbar-inverse navbar-toggleable-sm" style="background-color: lightgray;">
        <h3>My Dating Website</h3>
    </nav>
    <div class="container">
        <figure id="border">
            <figcaption>
                <h1 class="ml-5"><br><strong>My Dating Website</strong></h1>
                <p id="summary">Welcome to the web's most successful dating website. <strong>At My Dating</strong>
                    Website you'll meet another like minded individuals. We have the
                    highest success rate of couples on the web. User's are matched by
                    interest and location. Find out why so many others have found love on
                    our site.<br><br>
                </p>
                <h4 class="ml-5"><strong>Hear what our users are saying about us.</strong></h4>
                <p id="review">"I met the love of my life after only a month" - Andrea<br><br>
                    "It was so easy to set up and profile and start meeting people.
                    I didn't realize how many others were looking for love in my
                    area." -John Smith<br><br>
                    "Just try it! You'll never be the same!" - Sarah</p><br><br>
                <a href="http://jbose.greenriverdev.com/IT328_2019/dating/views/Personal_Information.php">
                    <button class="btn btn-primary ml-5">
                        Create a Profile!</button></a>

            </figcaption>
            <img id="datePic" class="img-fluid rounded"
                 src="http://jbose.greenriverdev.com/IT328_2019/dating/images/best-dating-website.jpg"
                 alt="Dating Picture">
        </figure>
    </div>
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>