<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/styles.css?<?php echo time(); ?>">
    <link rel="stylesheet"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/css/bootstrap.min.css">
    <title>Interest</title>
</head>
<body>
<nav class="nav-pills navbar-inverse navbar-toggleable-sm" style="background-color: lightgray;">
    <h3>My Dating Website</h3>
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home.html">Home</a>
            <a class="nav-item nav-link" href="Personal_Information.php">Personal Info</a>
            <a class="nav-item nav-link" href="Profile.php">Profile</a>
            <a class="nav-item nav-link active" href="Interest.php">Interest</a>
        </div>
    </div>
</nav>
<div class="container">
    <figure id="border">
        <figcaption>
            <h1 class="ml-5"><br><strong>Interest</strong></h1>
            <form action="#" method="post">
                <fieldset>
                    <div class="form-group ml-lg-2">
                        <label class="d-block" id="InputTitle2">Indoor Activities</label>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="TV"> TV
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Movies"> Movies
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Cooking"> Cooking
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Boards_Cards">
                                Board and Card Games
                            </label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"> Puzzles
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Reading"> Reading
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Video_Games"> Video Games
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="indoor[]"
                                       value="Others"> Others
                            </label>
                        </div>
                    </div>
                    <div class="form-group ml-lg-2">
                        <label class="d-block" id="InputTitle7">Outdoor Activities</label>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Hiking"> Hiking
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Biking"> Biking
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Swimming"> Swimming
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Collecting"> Collecting
                            </label>
                        </div>
                        <br>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Walking"> Walking
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Climbing"> Climbing
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Gardening"> Gardening
                            </label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="outdoor[]"
                                       value="Others"> Others
                            </label>
                        </div>
                    </div>
                    <!--<a href="http://jbose.greenriverdev.com/IT328_2019/dating/Profile_Summary"></a>-->
                    <button class="btn btn-primary" name="submit" type="submit" id="adjustButton">Next</button>
                </fieldset>
            </form>
        </figcaption>
    </figure>
</div>
<script src="js/jquery.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>