<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/styles.css?">
    <link rel="stylesheet"
          href="http://jbose.greenriverdev.com/IT328_2019/dating/styles/css/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>
<nav class="nav-pills navbar-inverse navbar-toggleable-sm" style="background-color: lightgray;">
    <h3>My Dating Website</h3>
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home.html">Home</a>
            <a class="nav-item nav-link" href="Personal_Information.php">Personal Info</a>
            <a class="nav-item nav-link active" href="Profile.php">Profile</a>
            <a class="nav-item nav-link" href="Interest.php">Interest</a>
        </div>
    </div>
</nav>
<div class="container">
    <figure id="border">
        <figcaption>
            <h1 class="ml-5"><br><strong>Profile</strong></h1>
            <form action="#" method="post">
                <fieldset>
                    <div class="col-lg-6" id="InputTitle5">
                        <p id="InputTitle4">Email</p>
                        <input class="form-control ml-5" type="text" name="email">
                    </div>
                    <div class="col-lg-5" id="biography">
                        <p id="InputTitle9">Biography</p>
                        <textarea class="form-control ml-5" rows="6" name="biography">
                        </textarea>
                    </div>
                    <div class="col-lg-6">
                        <p id="InputTitle3">State</p>
                        <input class="form-control ml-5" type="text" name="state"
                               placeholder="Washington">
                    </div>
                    <div class="col-lg-6">
                        <p id="InputTitle2">Seeking</p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Male
                        <input class="ml-2" type="radio" name="seekGender" value="male">
                        &nbsp; Female <input type="radio" name="seekGender" value="female">
                    </div>
                    <div id="adjustButton">
                        <!--<a href="http://jbose.greenriverdev.com/IT328_2019/dating/views/Interest"></a>-->
                        <button class="btn btn-primary" name="submit" type="submit">Next</button>
                    </div>
                </fieldset>
            </form>
        </figcaption>
    </figure>
</div>
<script src="js/jquery.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>